
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
<!--    <link href="style.css" rel="stylesheet" >-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

<div>
    <section class="about center">
        <div class="about__left">
            <img class="about__img" src="/static/img/mother_str.jpg" alt="myPhoto" />
        </div>
        <div class="about__right">
            <h2 class="about__title">Немного о себе</h2>
            <p class="about__text">
                Привет!!! Меня зовут Мария и у меня аутоиммунное заболевание, а вернее -
                два. Болезнь Крона (воспаление в кишечнике) и болезнь Бехтерева
                (поражение суставов). Пришлось удалить 1 метр тонкого кишечника и
                заменить оба тазобедренных сустава. Уже почти 5 лет я лечусь известными
                схемами терапии, но в ремиссии нахожусь недолго. Препараты назначают и
                убирают из-за побочных действий или неэффективности. За это время, я
                заметила, что питание играет очень важную роль в самочувствии. Бывают
                дни, что утром сложно встать с кровати и чувствуешь себя будто с
                похмелья. Надеяться на терапию смысла нет, начала изучать этот вопрос
                глубже. Выяснила, что есть продукты, которые оказывают воспалительное
                действие на организм и особенно на кишечник. Нашла результаты
                исследований, в которых говорится о том, что если исключить из рациона
                определенные группы продуктов, больные аутоиммунными заболеваниями,
                чувствуют себя лучше. Решила провести эксперимент на себе:). И
                действительно, самочувствие улучшается. Первые несколько дней я ела
                бульоны с мясом, отварную морковь и запеченные яблоки. Далее постепенно
                на 3-4 дня вводила в рацион гречку, отварные брокколи и кабачок, и
                смотрела за реакцией организма. Если не хуже, то добавляла яйцо, листья
                салата, зелень. Затем свежие овощи. Если становится хуже, то убирала
                этот продукт на время. Таким образом, постепенно, я определила на какие
                продукты есть реакция. У каждого это свой список. Но точно надо забыть о
                сахаре и глютене - это продукты, которые вызывают воспаление. Лучше
                становится через неделю, потом будто откат назад и начинаешь
                сомневаться. Но надо набраться терпения и уже через месяц - полтора вы
                увидете эффект. Важно, что когда нарушаешь диету, самочувствие
                ухудшается. Это надо понимать, и перед тем как положить кусочек булочки
                в рот, несколько раз подумать. У меня такими провокаторами являются
                кофе, кисломолочка, мед в большом количестве, вино, хороший шоколад. За
                последнее время, я нашла чем заменить печенье и конфеты, поэтому на них
                смотрю с равнодушием, и даже с некоторым отвращением.
            </p>
            <a href="products" class="about__link">Продукты, которые я ем</a>

        </div>
    </section>
    <section class="menu center">
        <div class="menu__items">
            <router-link :to="category.url" class="menu__link" v-for="category in getCategory" :key="category.id">
                <div class="menu__item">
                    <img class="menu__img" :src="category.img" alt="category" />
                    <h3 class="menu__title">{{ category.name }}</h3>
                </div>
            </router-link>
        </div>
    </section>
    <section class="center">
        <div class="bish">
            <h2 class="about__title">Правило здоровой тарелки</h2>
            <ul class="bish__title">
                <li class="bish__el">½ тарелки: овощи, зелень, фрукты, ягоды</li>
                <li class="bish__el">¼ тарелки: полезные белки</li>
                <li class="bish__el">¼ тарелки: цельнозерновые</li>
            </ul>
            <p class="bish__text">
                Тарелка Здорового Питания созданна экспертами по питанию Гарвардской
                школы общественного здравоохранения, это руководство для здорового,
                сбалансированного питания. Такое питание обеспечивает максимальную
                нутриентную плотность рациона. Овощи и фрукты должны составлять основную
                часть приёма пищи - 1/2 тарелки. Овощи как свежие, так и термически
                обработанные. Так же в каждый прием пищи хорошо добавить полезные масла
                - оливковое, орехи и семечки, авокадо. Такую тарелочку несложно собрать,
                нужно только включить фантазию и повнимательнее рассмотреть содержимое
                холодильника. Она очень красиво выглядит и с удовольствием съедается.
            </p>
        </div>
        <swiper :pagination="{
                type: 'fraction',
            }" :navigation="true" :modules="modules" class="mySwiper">
            <swiper-slide v-for="item in getDishImg" :key="[item]">
                <img class="menu__img" :src="item" alt="dishImg" /></swiper-slide>
        </swiper>
        <div class="bish__dickr">
            <p class="bish__text">
            В кафе и службах доставки еды не найти блюд с качественным составом продуктов. Поэтому приходится быть на самообеспечении. Готовить я не особо люблю, поэтому использую несколько лайфхаков:
            </p>
            <ul v-for="el in getlifeHack" :key="el">
                <li class="bish__hack">{{ el }}</li>

            </ul>
        </div>
    </section>

</div>






</body>
</html>