<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Продукты</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
    <div class="breadcrumb center">
        <ul class="breadcrumb__ul">
            <li class="breadcrumb__li">
                <a href="./" class="breadcrumb__link">
                    ГЛАВНАЯ
                </a>
            </li>
            <li class="breadcrumb__li"> <router-link to="/product" class="breadcrumb__link">
                    ПРОДУКТЫ
                </router-link>
            </li>
        </ul>
    </div>
    <div class="product center">
        <div class="product">
            <ul class="product__text">Я исключила из питания источники глютена, лектинов и
                ферментируемых олиго-димоносахаридов и полиолов. Такие как:
                <li class="product__el" v-for="text in productText" :key="[text]">
                    {{ text }}
                </li>
            </ul>
            <p class="about__title">Я ЕМ</p>
            <div class="product-box">
                <div class="product__no-limit">
                    <h2 class="product__title">БЕЗ ОГРАНИЧЕНИЙ </h2>
                    <ul class="product__ul" v-for="product in products" :key="product.id"> {{ product.name }}
                        <li class="product__li" v-for="el in product.el" :key=[el]> {{ el }}
                        </li>
                    </ul>
                </div>
                <div class="product__limit">
                    <h2 class="product__title">ОГРАНИЧИВАЮ </h2>
                    <ul class="product__ul" v-for="prLimit in productsLimit" :key="prLimit.id"> {{ prLimit.name }}
                        <li class="product__li" v-for="el in prLimit.el" :key=[el]> {{ el }}
                        </li>
                    </ul>
                </div>
                <div class="product__no">
                    <h2 class="product__title">ЛУЧШЕ НЕ НАДО!!!</h2>
                    <ul class="product__ul" v-for="prNo in productsNo" :key="prNo.id"> {{ prNo.name }}
                        <li class="product__li" v-for="el in prNo.el" :key=[el]> {{ el }}
                        </li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>